/* --- 1. GENERAL --- */

  html {
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
    
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
 
  section {
    margin: 0 auto;
    padding: 10% 17.5%; /* main container width set by the % */
    min-height: 100vh;
    overflow: auto; /* section adjusts to content's height */
  }

  section:first-child {
    min-height: calc(100vh - 100px); /* means first section height isn't increased by navbar - very sexy */
        }
  
/* --- 2. FONTS --- */
    
    body {
      /* font-family: 'Manrope', sans-serif; */
      font-family: 'neue_haas_grotesk_display65Md';
    }

    h1 {
      text-align: center;
      color:#FE4632;
      z-index: 1;
      margin-top: -100px;
    }

    h2 {
      /* font-family: 'neue_haas_grotesk_display75Bd'; */
    }

    h1, h2 {
      font-size: 4em;
      font-weight: 400;
    }

    p, .who a {
      font-family: 'neue_haas_grotesk_display45Lt';
      font-size: 1.5rem;
      margin: 1.5rem 0;
      line-height: 1.5;
      color: #1A1A1A;
    }

    /* links */
    a {
      /* font-family: 'Courier New', Courier, monospace; */
      text-decoration: none;
      text-transform: lowercase;
      font-weight: 700;
      color: #ECB08C;
      font-size: 1.7em;
    }

    /* navlink hover, link to other website,  */
    .who a, a:hover {
      text-decoration: underline;
    }

    .who a {font-weight: 400;}

    /* coloured text - Headings */
    .bluetext {
      /* color: #1099ff; */
      color: #FA5B52;
    }

    .white-highlight {
      background-color: #E9E7E2;
    }

    .line-through {
      text-decoration: line-through;
    }

    /* WHO title */
    .who h2 {
      font-size: 3em;
    }
    /* WHO body */
    .who p {
      text-align: justify;
    }

   

  
/* --- 3. NAVBAR and FOOTER--- */

  .nav-container, .footer-container {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 40px;
    height: 100px;
    padding: 0px 50px;
    width: 90%;
    margin: 0 auto;
  }

  .nav-container {
    /* border-bottom: 2px solid #E9E7E2; */
    width: 100%;
  }

  .footer-container {
    border-top: 2px solid #62615F;
  }

  .nav-container li, .footer-container li {
    margin: auto 0; 
  }

  .nav-container li:first-child {
    flex-grow: 2;
  }

/* --- 4. SECTION STYLES */

  /* COVERPAGE */

  .coverpage {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  }

  .coverpage, header { 
    /* background-image: url('../images/garden.png');
    background-size: cover;
    background-position: 0 40%; */
    /* opacity: 40%;  */
    background-color: #F2F2EF;
   }

  /* WHO*/
    .who {
      background-color: #E9E7E2;
      overflow: hidden; /* stops image creating scrollbar */
      display: flex;
      flex-direction: column;      
      padding: 10% 5%;
      gap: 60px;
      position: relative; /* allows you to add pseudo elements */
    }

    .who p:first-child {
      border-top: 1px solid #62615F;
      padding-top: 2em;
    }

    /* NB - MAYBE CHANGE TO GRID AND ADD AN IMAGE TOP RIGHT OF THIS SECTION? */
    .who-flex-1 {
      width: 45%;
    }

    .who-flex-2 {
      margin: 0 auto;
      width: 70%;
    }

    #outer_selfie {
      position: relative;
      height: 120px; /* adds space below to mean image will show but be cropped */
    }

    /* this makes the img and it's containing div the same size meaning you can use mix-blend-mode */
    #selfie, #selfie img {
      height: 300px;
      border-radius: 100%;
    }
    #selfie {
      position: absolute;
      left: 50%;
      /* background-color: #FA5B52; */
    }

    #selfie img {
      /* mix-blend-mode: screen; */
    }

  /* BLOCK SECTION - image or colour */
    .block-1 {
      /* background-image: url('../images/garden.png');
      background-size: cover;
      background-position: 0 30%; */
      background-color: #231F20;
      min-height: 80vh;
    }

    .block-2 {
      background-color: #FA5B52;
      min-height: 80vh;
    }
  /* WHY */
    .why {
      text-align: center;
    }

  /* FOUNDERS */

  .founders {
    background-color: #E9E7E2;
  }

  .founders p {
    text-align: justify;
  }

/* PSEUDO ELEMENTS */

/* red circle  */
.coverpage::before {
  /* z-index: -1; */
  content: '';
  position: absolute;  
  width: 70px;
  height: 70px;
  border-radius: 100%;
   background: #FA5B52;
  
  right: 23%;
  top: 25%;
} 

.who::before {
  content: '';
  position: absolute;  
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #FA5B52;
  right: 40%;
  bottom: 10%;
}

 /* white circle  */
/* .coverpage::after {
  z-index: 1;
  content: '';
  position: absolute;  
  width: 490px;
  height: 490px;
  border-radius: 100%;
  background: #A5997E;

  left: -5%;
  top: 20%;
}  */


  /* --- MEDIA QUERIES --- */

@media all and (max-width: 1200px) {  

  .nav-container li:first-child {
    display: none;
  }
      
  .nav-container, .footer-container {
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    gap: 20px;
    padding: 30px 0;
  }
}
