/* 

CONTENTS 
1. General Styling
2. Fonts
3. Navigation/Header and Footer
4. Section Specific Styles
5. Pseudo Elements
6. Animations
7. Media Queries

*/

/* --- 1. General Styling --- */

  html {
    box-sizing: border-box;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
  }
    
  *, 
  *::before, 
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
 
  section {
    margin: 0 auto;
    padding: 10% 17.5%; /* main container width set by the % */
    min-height: 100vh;
    overflow: auto; /* section adjusts to content's height */
  }

  section:first-child {
    min-height: calc(100vh - 100px); /* means first section height isn't increased by navbar - very sexy */
  }
  
/* --- 2. Fonts --- */
  
  /* default */
  body {
    font-family: 'neue_haas_grotesk_display65Md', 'Manrope', sans-serif;
  }

  /* headings */
  h1 {
    text-align: center;
    color:#FE4632;
    z-index: 1;
    margin-top: -100px; /* means nav doesn't affect vertical centering of h1 */
  }


  h1, 
  h2 {
    font-size: 4em;
    font-weight: 400;
  }

  .who h2 {
    font-size: 3em;
  }

  .show-container h2 {
    color: #F2F2EF;
  } 

  .gallery-container h2, 
  .gallery-container h3 {
    font-weight: 400;
  }
  
  .gallery-container h2 {
    font-size: 6em;
    color: #419901;
  }
  
  .gallery-container h3 {
    font-size: 4em;
  }
  
  h3 {
    font-size: 2.5em;
  }

  .bluetext, 
  .interests-small-screen h3, 
  .interests-small-screen h4 {
    color: #FA5B52;
  }

  h4 {
    font-family: 'neue_haas_grotesk_display45Lt', 'Manrope', sans-serif;
    font-size: 1.5em;
    color: #F2F2EF;
  }

  /* links and main paragraph */
  p, 
  .who a {
    font-family: 'neue_haas_grotesk_display45Lt', 'Manrope', sans-serif;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    line-height: 1.5;
    color: #1A1A1A;
  }

  a {
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 700;
    color: #ECB08C;
    font-size: 1.7em;
  }

  .who a, 
  a:hover {
    text-decoration: underline;
  }

  .who a {
    font-weight: 400;}

  .gallery-container a {
    text-decoration: none;
    color: #0E2724;
    font-size: 16px;
    text-transform: capitalize;
  }
  
  .gallery-container a:hover, 
  .gallery-container a:active {
    text-decoration: underline;
  }

  /* paragraphs */
  .who p, 
  .founders p {
    text-align: justify;
  }

  .hide p {
    color: #f9f9f9;
    text-align: center;
    font-size: 1.15rem;
  }

  .gallery-container p {
    font-size: 1.5em;
    margin: 1.5rem 0;
    line-height: 1.5;
  }
  
  figcaption p, 
  .captionHide {
    font-size: 1em;
    font-family: 'neue_haas_grotesk_display45Lt', 'Manrope', sans-serif;
  }

  /* decorative */
  .line-through {
    text-decoration: line-through;
  }

/* --- 3. Navigation/Header and Footer --- */

  .nav-container, 
  .footer-container {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 40px;
    height: 100px;
    padding: 0px 50px;
    margin: 0 auto;
  }

  .footer-container {
    z-index: 100;
  }

  .nav-container li, 
  .footer-container li {
    margin: auto 0; 
    z-index: 100;
  }

  .nav-container li:first-child {
    flex-grow: 2;
  }

/* --- 4. Section Specific Styles --- */

  /* Coverpage Sectioin */
  .coverpage {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .coverpage, 
  header { 
    background-color: #F2F2EF;
   }

  /* Who I Am Section */
  .who {
    background-color: #E9E7E2;
    overflow: hidden; /* stops image creating scrollbar */
    display: flex;
    flex-direction: column;      
    padding: 10% 5%;
    gap: 60px;
    position: relative; /* allows you to add pseudo elements */
  }

  .who p:first-child {
    border-top: 1px solid #62615F;
    padding-top: 2em;
  }

  .who-flex-1 {
    width: 45%;
  }

  .who-flex-2 {
    margin: 0 auto;
    width: 70%;
  }

  /* Interests Section - Larger Screens */
  .interests {
    background-color: #231F20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .show-container {
    min-height: 35vh;
    display: grid;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto 100px;
    align-items: center;
    border-bottom: 1px dotted #F2F2EF;
    padding-bottom: 4em;
  }

  .interests-title, 
  .show {
    text-align: center;
  }

  .interests-title {
    grid-column-start: span 5;
    align-self: self-start; /* mean the css animation doesn't make effect neighbouring elements*/
    padding-bottom: 80px;
  }

  .show {
    grid-row: 2;
    align-self: self-end;
    cursor:pointer;
  }

  .show img {
    width: 40%;
    filter: invert(100);
    opacity: 80%;
    padding-bottom: 30px;
    animation-name: shrink-grow-interests;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .show:hover {
    opacity: 100%;
    filter: invert(50%) sepia(11%) saturate(5094%) hue-rotate(324deg) brightness(100%) contrast(97%);
  }

  /* Interests Section - Shows On Smaller Screens */
  .interests-small-screen {
    /* NB: This was the styling for when used on bigger screens.
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 40px; 
    min-height: 100vh;
    */
    background-color: #F8DFDA;
    display: none;
  }

  .interests-small-screen div {
    text-align: justify;
    padding: 15px 0;
  }

  .interests-small-screen div:last-child {
    text-align: center;
  }

  .hide {
    width: 80%;
    padding-top: 50px;
  }

  .interests-small-screen img {
    max-width: 60%;
    border-radius: 100%;
  }

  /* Why Web Development Section */
  .why h2 {
    text-align: center;
  }

  .why p {
    text-align: justify;
  }

  /* Project Gallery Section */
  .project-gallery {
    background-color: #FA5B52;
  }


  .gallery-container {
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 25px; /* row then column gap */
  }

  .flex-item {
    width: 250px;
    flex-grow: 1;
  }

  .flex-item img {
    display: block; /* removes the random pixels of white space under img */
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 15px;
    border: solid 3px #fff;
    width: 100%;
    filter: grayscale(100);
    /* filter: drop-shadow(4px 4px 4px #DAEDD8); */
  }

  .flex-item img:hover {
    /* filter: opacity(100%) drop-shadow(4px 4px 4px #DAEDD8); */
    filter: none;
  }

  figcaption {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  figcaption p, 
  .captionHide {
    margin: 0;
  }

  .captionHide {
    padding: 0 20px;
  } 

  .plus-symbol {
    font-size: 3em;
    line-height: 0;
    color: #F2F2EF;
    cursor:pointer;
    border: none;
    padding: 5px 5px; /* to increase clickable area */
    background-color: inherit;
  }

  figcaption div:first-child {
    flex-grow: 1;
  }

  .plus-symbol:hover {
    color: #DC2F0A;
    transition: 0.3s;
  }

  /* Why Founders and Coders Section and Matching Footer Colour */
  .founders, 
  .footer-container {
    background-color: #E9E7E2;
  }

/* --- 5. Pseudo Elements --- */

  /* big red circle  */
  .coverpage::before {
    content: '';
    position: absolute;  
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #FA5B52;
    right: 23%;
    top: 23%;
    animation: colour-change-circle 5s infinite linear;
  } 

  /* small red circle  */
  .who::before {
    content: '';
    position: absolute;  
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FA5B52;
    right: 33%;
    bottom: 7%;
  }

/* --- 6. Animations --- */

  @keyframes colour-change-circle {
    0% {background: #FA5B52;}
    50% {background: #ECB08C;}
    100% {background: #FA5B52;}
  
  }

  @keyframes shrink-grow-interests {
    0% {width: 40%;}
    50% {width: 35%;}
    100% {width: 40%;}
  }

/* --- 7. Media Queries --- */

  @media all and (max-width: 1200px) {  
    .nav-container li:first-child {
      display: none;
    }
      
    .nav-container, 
    .footer-container {
      justify-content: flex-end;
      flex-direction: column;
      flex-wrap: nowrap;
      height: auto;
      gap: 20px;
      padding: 30px 0;
      text-align: center;
    }
  }

  @media all and (max-width: 950px) {
    .show h4 {
      font-size: 1.25em;
    }
  }

  @media all and (max-width: 750px) {
    .interests {
      display: none;
    }

    .interests-small-screen {
      display: block;
    }

    section {
      padding: 7%;
    }
  }

  @media all and (max-width: 660px) {
    .who-flex-1 {
      width: 60%;
    }

    h2, 
    .who h2 {
      font-size: 2.5em;
    }
  }
