/* --- 1. GENERAL --- */

  html {
    box-sizing: border-box;
    background-color: #f9f9f9;
  }
    
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
 
  section {
    margin: 0 auto;
    padding: 10% 17.5%; /* main container width set by the % */
    min-height: 100vh;
    overflow: auto; /* section adjusts to content's height */
  }

  section:first-child {
    min-height: calc(100vh - 100px); /* means first section height isn't increased by navbar - very sexy */
        }
  
/* --- 2. FONTS --- */
    
    body {
      font-family: 'neue_haas_grotesk_display65Md', 'Manrope', sans-serif;
    }

    h1 {
      text-align: center;
      color:#FE4632;
      z-index: 1;
      margin-top: -100px; /* means nav doesn't affect vertical centering of h1 */
    }

    h1, h2 {
      font-size: 4em;
      font-weight: 400;
    }

    h3 {
      font-size: 2em;
      color: #F2F2EF;
      
    }

    h4 {
      font-family: 'neue_haas_grotesk_display45Lt', 'Manrope', sans-serif;
      font-size: 1.5em;
      color: #F2F2EF;
    }

    p, .who a {
      font-family: 'neue_haas_grotesk_display45Lt', 'Manrope', sans-serif;
      font-size: 1.5rem;
      margin: 1.5rem 0;
      line-height: 1.5;
      color: #1A1A1A;
    }

    /* links */
    a {
      text-decoration: none;
      text-transform: lowercase;
      font-weight: 700;
      color: #ECB08C;
      font-size: 1.7em;
    }

    /* navlink hover, link to other website,  */
    .who a, a:hover {
      text-decoration: underline;
    }

    .who a {
      font-weight: 400;}

    /* coloured text - Headings */
    .bluetext, .interests h4 {
      /* color: #1099ff; */
      color: #FA5B52;
    }

    .interests div p {
      font-family: 'neue_haas_grotesk_display45Lt', 'Manrope', sans-serif;
      font-size: 1em;
    }

    .white-highlight {
      background-color: #E9E7E2;
    }

    .line-through {
      text-decoration: line-through;
    }

    .who h2 {
      font-size: 3em;
    }
    /* WHO body */
    .who p {
      text-align: justify;
    }

    .founders p {
      text-align: justify;
    }


    .block-1-hidden p {
      color: #f9f9f9;
      text-align: center;
      font-size: 1.25rem;
    }

  
/* --- 3. NAVBAR and FOOTER--- */

  .nav-container, .footer-container {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 40px;
    height: 100px;
    padding: 0px 50px;
    margin: 0 auto;
  }

  .footer-container {
    z-index: 100;
  }

  .nav-container li, .footer-container li {
    margin: auto 0; 
    z-index: 100;
  }

  .nav-container li:first-child {
    flex-grow: 2;
  }

/* --- 4. SECTION STYLES */

  /* COVERPAGE */

  .coverpage {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  }

  .coverpage, header { 
    /* background-image: url('../images/garden.png');
    background-size: cover;
    background-position: 0 40%; */
    /* opacity: 40%;  */
    background-color: #F2F2EF;
   }

  /* WHO */
    .who {
      background-color: #E9E7E2;
      overflow: hidden; /* stops image creating scrollbar */
      display: flex;
      flex-direction: column;      
      padding: 10% 5%;
      gap: 60px;
      position: relative; /* allows you to add pseudo elements */
    }

    .who p:first-child {
      border-top: 1px solid #62615F;
      padding-top: 2em;
    }

    /* NB - MAYBE CHANGE TO GRID AND ADD AN IMAGE TOP RIGHT OF THIS SECTION? */
    .who-flex-1 {
      width: 45%;
    }

    .who-flex-2 {
      margin: 0 auto;
      width: 70%;
    }

    #outer_selfie {
      position: relative;
      height: 120px; /* adds space below to mean image will show but be cropped */
    }

    /* this makes the img and it's containing div the same size meaning you can use mix-blend-mode */
    #selfie, #selfie img {
      height: 300px;
      border-radius: 100%;
    }
    #selfie {
      position: absolute;
      left: 50%;
      /* background-color: #FA5B52; */
    }

    /* #selfie img {
      mix-blend-mode: screen;
    } */

  /* BLOCK SECTION - image or colour */
    .block-1 {
      /* background-image: url('../images/garden.png');
      background-size: cover;
      background-position: 0 30%; */
      background-color: #231F20;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-start;
    }

    .block-1-show {
      min-height: 35vh;
      display: grid;
      row-gap: 40px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
      align-items: center;
    }

    .block-1-hidden {
      width: 80%;
      padding-top: 50px;
    }

    /* #language_text, #design_text, #people_text, #logic_text, #exercise_text {
      display: none;
    } */

    .icon1, .icon2 {
      text-align: center;
    }

    .icon1 {
      grid-column-start: span 5;
      align-self: self-start; /* mean the css animation doesn't make effect neighbouring elements*/
    }

    .icon2 {
      grid-row: 2;
      align-self: self-end;
    }

    .icon2 img {
      width: 40%;
      filter: invert(100);
      opacity: 80%;
      padding-bottom: 30px;
      animation-name: shrink-grow-interests;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .icon2:hover {
      filter: invert(50%) sepia(11%) saturate(5094%) hue-rotate(324deg) brightness(100%) contrast(97%);
    }

  /* WHO 2 */
    .interests {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; 
      gap: 40px;
      background-color: #F8DFDA;
      min-height: 100vh;

    }

    /* .interests div {
      text-align: justify;
    } */

    .interests div:nth-child(3) {
      text-align: center;
    }

    .block-2 {
      background-color: #FA5B52;
    }

    .interests div img {
      max-width: 80%;
      border-radius: 100%;
    }

  /* WHY */
    .why h2 {
      text-align: center;
    }
    .why p {
      text-align: justify;
    }

  /* FOUNDERS */

  .founders, .footer-container {
      background-color: #E9E7E2;
    }

/* PSEUDO ELEMENTS */

  /* red circle  */
  .coverpage::before {
  /* z-index: -1; */
  content: '';
  position: absolute;  
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: #FA5B52;
  right: 23%;
  top: 23%;
  animation-name: colour-change-circle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  } 

  .who::before {
    content: '';
    position: absolute;  
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FA5B52;
    right: 33%;
    bottom: 7%;
  }

  /* ANIMATIONS */

  @keyframes colour-change-circle {
    0% {
      background: #FA5B52;
    }
    50% {
    background: #ECB08C;
    }
    100% {
      background: #FA5B52;
    }
  
  }

  @keyframes move-about-page {
    0% {
      right: 25%;
      top: 0%;
      background: #FA5B52;
    }
    15% {
      right: 25%;
      top: 100%;
      background: #FE3333;
    }
    30% {
      right: 75%;
      top: 100%;
      background: #ECB08C;
    }
    45% {
      right: 75%;
      top: -10%; 
      background: #FE3333;
    }

    60% {
      right: 100%;
      top: -10%;
    }

    75% {
      right: 100%;
      top: 25%;
    }

    100% {
      right: 0%;
      top: 75%;
    }
  }

  @keyframes shrink-grow-interests {
    0% {width: 40%;}
    50% {width: 35%;}
    100% {width: 40%;}
  }


  /* --- MEDIA QUERIES --- */

@media all and (max-width: 1200px) {  

  .nav-container li:first-child {
    display: none;
  }
      
  .nav-container, .footer-container {
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    gap: 20px;
    padding: 30px 0;
  }
}
